@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
    <style>
        .logo {
            width:300px;
            height:150px;
        }
        p {
            text-align:justify;
            padding-top:20px;
        }
    </style>

<div class="row">
    <div class="page-header">
        <h1>About Cook It!</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <img src="~/background_images/logo.png" class="logo" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <p>
            Cook it is a web app which help you to search Myanmar traditional
            cuisines and
            this app is dedicated to all different types of users out
            there who like to prepare their own meal by using
            Myanmar traditional methods.
            First of all, users were to login with their Facebook account in order
            to get direct access to the app and perform automatic
            registeration in our app database. The usernames will be
            saved exactly the same as their facebook account name and
            later be put to use for favourite or grocery function. With the individul user's account,
            users will be able to bookmark their own favourite recipes or save their's grocery list
            within our database. Along side with the search or filter functions on variety of recipes, user
            will have a ultimate chance to gain premium experience via being able to use this app on pc, mobiles and tablets.
        </p>
    </div>
</div>
@*<div>

    @Html.ActionLink("Login with facebook", "Facebook", "Home")

    <table>

        <tr><td>Email:</td><td><b>@TempData["email"]</b></td></tr>

        <tr><td>First Name:</td><td><b>@TempData["first_name"]</b></td></tr>

        <tr><td>Last Name:</td><td><b>@TempData["lastname"]</b></td></tr>

        <tr><td>Picture:</td><td><b><img src="@TempData["picture"]" /></b></td></tr>



    </table>

</div>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@